{% autoescape false %}
<div class="ai1ec-col-sm-12">
<p>
	<a href="#ai1ec-embedding" id="ai1ec-embedding-trigger"
		data-toggle="ai1ec-collapse">
		<i class="ai1ec-fa ai1ec-fa-code ai1ec-fa-lg ai1ec-fa-fw"></i>
		{{ text_embed_shortcode }}
		<i class="ai1ec-fa ai1ec-fa-caret-down"></i>
		<i class="ai1ec-fa ai1ec-fa-caret-up ai1ec-hide"></i>
	</a>
</p>
<div id="ai1ec-embedding" class="ai1ec-collapse">
	<div class="ai1ec-well ai1ec-prose">
		<p>{{ text_insert_shortcode }}</p>
		<ul>
			<li>{{ text_month_view }} <code>[ai1ec view="monthly"]</code></li>
			<li>{{ text_week_view }} <code>[ai1ec view="weekly"]</code></li>
			<li>{{ text_day_view }} <code>[ai1ec view="oneday"]</code></li>
			<li>{{ text_agenda_view }} <code>[ai1ec view="agenda"]</code></li>

			{{ viewing_events_shortcodes }}

			<li><em>{{ text_general_form }}</em> {{ text_other_view }} <code>[ai1ec view="someother"]</code></li>
			<li>{{ text_default_view }} <code>[ai1ec]</code></li>
		</ul>
		<p>
			<span class="ai1ec-text-muted">{{ text_optional }}</span>
			{{ text_filter_label }}
		</p>
		<ul>
			<li>{{ text_filter_category }} <code>[ai1ec cat_name="{{ text_filter_category_1 }}"]</code></li>
			<li>{{ text_filter_category_comma }} <code>[ai1ec cat_name="{{ text_filter_category_2 }},{{ text_filter_category_3 }}"]</code></li>
			<li>{{ text_filter_category_id }} <code>[ai1ec cat_id="1"]</code></li>
			<li>{{ text_filter_category_id_comma }} <code>[ai1ec cat_id="1,2"]</code></li>

			<li>{{ text_filter_tag }} <code>[ai1ec tag_name="{{ text_filter_tag_1 }}"]</code></li>
			<li>{{ text_filter_tag_comma }} <code>[ai1ec tag_name="{{ text_filter_tag_2 }},{{ text_filter_tag_3 }}"]</code></li>
			<li>{{ text_filter_tag_id }} <code>[ai1ec tag_id="1"]</code></li>
			<li>{{ text_filter_tag_id_comma }} <code>[ai1ec tag_id="1,2"]</code></li>

			<li>{{ text_filter_post_id }} <code>[ai1ec post_id="1"]</code></li>
			<li>{{ text_filter_post_id_comma }} <code>[ai1ec post_id="1,2"]</code></li>
		</ul>
		<div class="ai1ec-alert ai1ec-alert-warning">
			<strong>{{ text_warning }}</strong>
			{{ text_single_calendar }}
		</div>
	</div>
</div>
</div>
{% endautoescape %}
